@import "tailwindcss";

@theme {
	--font-poppins: "Poppins", sans-serif;

	--color-white: #f8fafc;
	--color-black: #000000;
	--color-gray: #4d5562;

	--breakpoint-xs: 480px;
}

@layer base {
	html {
		@apply max-xs:text-[60%] xs:text-[80%] sm:text-[100%];
	}

	body {
		@apply font-poppins bg-white font-semibold text-black;
	}
}
